/* Estilização adicional para destacar o pagamento PIX */
.pix {
  background-color: #e5f9ef;
  /* Cor de fundo para destacar PIX */
  padding: 15px;
  /* Espaçamento interno para destacar */
  border-radius: 8px;
  /* Bordas arredondadas */
  margin: 10px 0;
  /* Margem para separar das outras opções */
}

/* Estilização para a cor do texto do método de pagamento PIX */
.pix .preco, .pix .parcelas, .pix .textodesconto {
  color: #77c869;
  /* Cor verde para o texto da opção PIX */
}

/* Estilização para imagens dos ícones de pagamento */
.icone-pagamento {
  width: 50px;
  /* ajuste o tamanho como necessário */
  height: auto;
  display: block;
  /* Para corrigir qualquer problema de alinhamento */
  margin-bottom: 10px;
  /* Espaço abaixo da imagem */
}

/* Estilização para a opção de pagamento em geral */
.opcao-pagamento {
  cursor: pointer;
  display: flex;
  /* Alinhamento dos itens em linha */
  align-items: center;
  /* Alinhamento vertical ao centro */
  gap: 10px;
  /* Espaço entre ícone e texto */
  margin-bottom: 10px;
  cursor: default;

}

/* Estilização para os spans de texto dentro das opções de pagamento */
.opcao-pagamento .parcelas,
.opcao-pagamento .preco,
.opcao-pagamento .textodesconto {
  display: block;
  /* Faz cada parte do texto aparecer em sua própria linha */
  line-height: 1.5;
  /* Espaçamento da linha */
}

/* Estilização para o preço em todas as opções de pagamento */
.opcao-pagamento .preco {
  font-weight: 700;
  /* Peso da fonte para destacar (bold) */
  font-size: 1.2em;
  /* Tamanho maior da fonte para mais destaque */
  color: #333;
  /* Cor escura para maior contraste e destaque, ajuste como preferir */
}

/* Estilização adicional para destacar o pagamento PIX, mantendo o destaque no preço */
.pix .preco {
  /* Aqui mantemos a cor verde específica para o preço no PIX, se quiser que se destaque ainda mais */
  color: #77c869;
}

/* Se quiser que o preço para métodos que não sejam PIX permaneça com a cor padrão (e.g., preto ou cinza escuro),
             você pode omitir a regra de cor da classe .opcao-pagamento .preco acima
             e apenas definir a cor padrão aqui: */
.opcao-pagamento:not(.pix) .preco {
  color: #333;
  /* ou qualquer cor padrão que você usa para o texto */
}


.hWoKbG {
  background: rgb(64, 205, 40);
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 6px;
}

.desconto-container {
  display: flex;
  align-items: center;
}

.badge-container {
  display: flex;
  align-items: center;
}

.formasdepagamentos {
  padding: 10px 10px 10px 10px;
}